<ion-view title="Empresa" id="page6" style="background-color:#737377;">
    <ion-content padding="true" class="has-header">
        <div id="empresa-markdown3" style="color:#0000;"></div>
        <div id="empresa-markdown5">
            <p>Etec Doutora Ruth Cardoso</p>
        </div>
        <div>
            <img src="img/DIPNQ8fyTLqtk1NwpdfI_etec_doutora_ruth_cardoso.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="empresa-markdown6" style="color:#000000;">
            <pre>
                <code>A Etec Doutora Ruth Cardoso tem o intuito de Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos
                    os espaços em que convivem.</code>
            </pre>
        </div>
    </ion-content>
</ion-view>