<ion-view title="Produto" id="page7" style="background-color:#737377;">
    <ion-content padding="true" class="has-header">
        <div id="produto-markdown8" style="color:#000000;">
            <p>Aplicativo de horarío</p>
        </div>
        <div>
            <img src="img/pasRZqDQAaNzP2AJjEIT_Horario.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="produto-markdown9" style="color:#000000;">
            <pre>
                <code>É proposto o desenvolvimento de um aplicativo que auxílie os docentes e discentes com os horarios das aulas.</code>
            </pre>
        </div>
    </ion-content>
</ion-view>